DEPLOY_REF=
IMAGE=ghcr.io/only-hell/catty-reminders-app:latest
DB_CONTAINER_NAME=catty-db
APP_CONTAINER_NAME=catty-app
MARIADB_ROOT_PASSWORD=changeme
MARIADB_USER=catty
MARIADB_PASSWORD=changeme
MARIADB_DATABASE=catty_db
HOST_DB_PORT=3307
CONTEINER_DB_PORT=3306
HOST_APP_PORT=8181
CONTEINER_APP_PORT=8181